.tooltip {
  margin: 0;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .0);
}

.tooltiptext {
  margin: 0;
  display: none;
  background-color: rgba(0, 0, 0, .0);
  white-space: pre-wrap;
}

.tooltip:focus + .tooltiptext {
  display: block;
}
